<form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col gap-2 w-full">
  <div class="input-group">
    <label for="email" class="input-label">Email address</label>
    <div class="relative">
      <ng-icon name="lucideAtSign" class="absolute inset-3 text-lg icon-secondary"></ng-icon>
      <input 
        id="email"
        type="email" 
        class="input pl-10 w-full" 
        formControlName="email" 
        autocomplete="off"
        placeholder="Enter your email" 
      />
    </div>
  </div>

  <div class="input-group">
    <label for="password" class="input-label">Password</label>
    <div class="relative">
      <ng-icon name="lucideKeyRound" class="absolute inset-3 text-lg icon-secondary"></ng-icon>
      <input 
        id="password"
        [type]="hiddenPassword ? 'password' : 'text'"
        class="input px-10 w-full" 
        formControlName="password" 
        autocomplete="new-password"
        placeholder="Enter your password" 
      />
      <button type="button" class="absolute inset-y-0 right-0 flex items-center px-3" (click)="togglePassword()">
        @if(!hiddenPassword){
          <ng-icon name="lucideEye" class="text-lg icon-secondary"></ng-icon>
        } @else {
          <ng-icon name="lucideEyeOff" class="text-lg icon-secondary"></ng-icon>
        }
      </button>
    </div>
  </div>

  <button 
    type="submit" 
    class="btn mt-2 flex justify-center" 
    [ngClass]="{ 'btn-disabled': loading || loginForm.invalid, 'btn-primary': !loading && !loginForm.invalid }"
    [disabled]="loading || loginForm.invalid"
  >
    @if (loading) {
      <ui-loading-spinner colour="disabled" />
    } @else {
      Login
    }
  </button>
</form>