<form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col gap-2 w-full">
  <div class="input-group">
    <label for="email" class="input-label">Email address</label>
    <!-- TODO: Icon -->
    <input 
      id="email"
      type="email" 
      class="input pl-10 w-full" 
      formControlName="email" 
      autocomplete="off"
      placeholder="Enter your email" 
    />
  </div>

  <div class="input-group">
    <label for="password" class="input-label">Password</label>
    <!-- TODO: Icon -->
    <input 
      id="password"
      type="password" 
      class="input pl-10 w-full" 
      formControlName="password" 
      autocomplete="new-password"
      placeholder="Enter your password" 
    />
  </div>

  <button 
    type="submit" 
    class="btn mt-2" 
    [ngClass]="{ 'btn-disabled': loading || loginForm.invalid, 'btn-primary': !loading && !loginForm.invalid }"
    [disabled]="loading || loginForm.invalid"
  >
    @if (loading) {
      Loading...
    } @else {
      Login
    }
  </button>
</form>