@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Mode Contstants */
  :root {
    --theme-primary: #3a63e6;
    --theme-primary-light: #3a63e650;
    --theme-secondary: #4c3bcf;
    --theme-accent: #f2516f;
    --theme-background: #f5f5f7;
    --theme-background-secondary: #e6e8ec;
    --theme-border: #d0d4db;
    --theme-text: #1a1a1a;
    --theme-text-secondary: #4a4a4a;
  }

  /* Dark Mode Contstants */
  @media (prefers-color-scheme: dark) {
    :root {
      --theme-primary: #4b70f5;
      --theme-primary-light: #4b70f550;
      --theme-secondary: #4c3bcf;
      --theme-accent: #fa4065;
      --theme-background: #1e2024;
      --theme-background-secondary: #2a2e34;
      --theme-border: #3c414a;
      --theme-text: #f5f5f7;
      --theme-text-secondary: #d0d4db;
    }
  }

  body {
    background-color: var(--theme-background);
    color: var(--theme-text);
  }

  .text-primary {
    color: var(--theme-primary);
  }

  .btn-primary {
    background-color: var(--theme-primary);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.1s;
  }

  .btn-primary:hover {
    background-color: var(--theme-secondary);
  }

  .input {
    background-color: var(--theme-background-secondary);
    border: 1px solid var(--theme-border);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: border-color 0.1s;
  }

  .input:focus {
    border-color: var(--theme-primary);
  }
}
