.spinner-colour--primary svg {
  stroke: var(--theme-primary);
}

.spinner-colour--secondary svg {
  stroke: var(--theme-secondary);
}

.spinner-colour--accent svg {
  stroke: var(--theme-accent);
}

.spinner-colour--disabled svg {
  stroke: var(--theme-text-secondary);
}