<ui-card>
  <div class="w-52 flex flex-col gap-2">
      <div class="flex gap-2 items-center pb-4 border-bottom">
        <ui-user-avatar [user]="user" class="w-10 h-10" />
        <div class="flex flex-col">
          <span class="">{{ user.firstName }} {{ user.lastName }}</span>
          <span class="text-xs font-light -mt-[2px]">{{ user.email }}</span>
        </div>
      </div>
      <div class="py-2 flex flex-col gap-2 border-bottom">
        <a href="" class="w-full p-1 px-2 rounded-lg flex gap-2 items-center text-sm">
          <ng-icon class="text-lg" name="lucideUserRound"></ng-icon>
          <span>Manage Profile</span>
        </a>
        <a href="" class="w-full p-1 px-2 rounded-lg flex gap-2 items-center text-sm">
          <ng-icon class="text-lg" name="lucideCog"></ng-icon>
          <span>Settings</span>
        </a>
        <a href="" class="w-full p-1 px-2 rounded-lg flex gap-2 items-center text-sm">
          <ng-icon class="text-lg" name="lucideCreditCard"></ng-icon>
          <span>Subscription</span>
        </a>
      </div>
      <div class="py-2 flex flex-col gap-2 border-bottom">
        <a href="" class="w-full p-1 px-2 rounded-lg flex gap-2 items-center text-sm">
          <ng-icon class="text-lg" name="lucideLayoutList"></ng-icon>
          <span>User Logs</span>
        </a>
        <a href="" class="w-full p-1 px-2 rounded-lg flex gap-2 items-center text-sm">
          <ng-icon class="text-lg" name="lucideUsersRound"></ng-icon>
          <span>Your Team</span>
        </a>
        <a href="" class="w-full p-1 px-2 rounded-lg flex gap-2 items-center text-sm">
          <ng-icon class="text-lg" name="lucideUserRoundPlus"></ng-icon>
          <span>Add Member</span>
        </a>
      </div>
      <div class="py-2 flex flex-col gap-2">
        <a href="" class="w-full p-1 px-2 rounded-lg flex gap-2 items-center text-sm">
          <ng-icon class="text-lg" name="lucideLogOut"></ng-icon>
          <span>Sign Out</span>
        </a>
      </div>
  </div>
</ui-card>
