<div
  *ngIf="type$ | async as type"
  class="alert rounded relative pl-2 bg-white border"
  [ngClass]="{
    'text-green-600': type === 'success',
    'text-sky-600': type === 'info',
    'text-amber-600': type === 'warning',
    'text-red-600': type === 'error'
  }">
  <div
    class="w-[2px] h-[80%] absolute left-1 rounded-full"
    [ngClass]="{
      'bg-green-600': type === 'success',
      'bg-sky-600': type === 'info',
      'bg-amber-600': type === 'warning',
      'bg-red-600': type === 'error'
    }"></div>
  <ng-icon *ngIf="icon$ | async as icon" [name]="icon" size="1.5rem"></ng-icon>
  <div class="text-[#1e293b] text-sm pr-2">
    <ng-content></ng-content>
  </div>
</div>