<div class="flex justify-between items-center h-16 border-bottom card-background px-4">
  <div class="flex items-center gap-2">
    <button type="button" class="border-full h-10 w-10 flex justify-center items-center rounded-lg">
      <ng-icon name="lucideCalendar"></ng-icon>
    </button>
    <div class="relative">
      <button type="text" class="border-full w-[30vw] h-10 flex justify-between items-center rounded-lg px-3">
        <div class="flex items-center gap-2">
          <ng-icon name="lucideSearch"></ng-icon>
          Search...
        </div>
        <div class="h-6 rounded-lg border-full p-1 px-2 text-xs flex justify-center items-center gap-2 bg-background-secondary">
          <ng-icon name="lucideCommand"></ng-icon>
          K
        </div>
      </button>
    </div>
  </div>
  <div class="flex items-center gap-2">
    <button type="button" class="border-full h-10 w-10 flex justify-center items-center rounded-lg">
      <ng-icon name="lucideMoon"></ng-icon>
    </button>
    <button type="button" class="border-full h-10 w-10 flex justify-center items-center rounded-lg">
      <ng-icon name="lucideBell"></ng-icon>
    </button>
    <app-user-profile></app-user-profile>
  </div>
</div>